{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>GRAY SHOPPING LIST</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/list_style.css' %}">
    <!--GOOGLE FONTS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bangers&display=swap">
</head>

<body>
    <div class="container">
        <div class="row" id="row1">
          <div class="col-1 text-center">
            <h1 class="heading_font_google">Gray Family Shopping List</h1>
            {% for item in grocery_objects %}
               <p> {{ item }}</p>
            {% endfor %}

            <!-- USER INPUT AREA, ADD ITEMS TO LIST-->
            <form method="POST">{% csrf_token %}
                <label for="item_name">I Need:</label><br>
                {{ form.item_name }}<br><br> <!--Fix this with css by adding class/ID and padding-->
                <button type="submit" class="btn btn-success">Add Item</button>
            </form>
            <!--END USER INPUT AREA-->
          </div><!--END COL1-12-->
        </div><!-- END ROW 1-->
    </div>

</body>
</html>
