<!DOCTYPE html>
<html>
<head>
    <title>GRAY SHOPPING LIST</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
    <h1>Gray Family Shopping List</h1>
    {% for item in grocery_objects %}
       <p> {{ item }}</p>
    {% endfor %}

    <!-- USER INPUT AREA, ADD ITEMS TO LIST-->
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Item</button>
    </form>

</body>
</html>
